lead-magnet/material-ponente/03-demos/make-blueprint.json
{
  "name": "Gestión de Incidencias - Fincas [AFCademIA]",
  "flow": [
    {
      "id": 1,
      "module": "gmail:TriggerEmail",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null,
        "folder": "INBOX",
        "criteria": "SUBJECT",
        "subject": "INCIDENCIA",
        "maxResults": 1,
        "markSeen": true
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "__IMTCONN__": {
            "label": "⚠️ CONECTAR: cuenta Gmail de la comunidad"
          }
        }
      }
    },
    {
      "id": 2,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": null,
        "spreadsheetId": "REEMPLAZAR_ID_HOJA",
        "sheetId": "Hoja1",
        "includesHeaders": true,
        "insertDataOption": "INSERT_ROWS",
        "valueInputOption": "USER_ENTERED"
      },
      "mapper": {
        "values": {
          "A": "{{1.date}}",
          "B": "{{1.from[].email}}",
          "C": "{{1.from[].name}}",
          "D": "{{1.subject}}",
          "E": "{{1.snippet}}",
          "F": "Pendiente"
        }
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "__IMTCONN__": {
            "label": "⚠️ CONECTAR: cuenta Google (Sheets)"
          },
          "spreadsheetId": {
            "label": "⚠️ REEMPLAZAR con el ID de tu Google Sheets"
          }
        }
      }
    },
    {
      "id": 3,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "to": "{{1.from[].email}}",
        "subject": "RE: {{1.subject}}",
        "content": "<p>Estimado/a {{1.from[].name}},</p><p>Hemos recibido correctamente su comunicación de incidencia.</p><p>Su solicitud ha quedado registrada en nuestro sistema y será atendida a la mayor brevedad posible.</p><p>Si necesita ampliar información, responda a este mismo email o contacte con nosotros.</p><p>Gracias por comunicárnoslo.</p><p>Atentamente,<br/>[TU NOMBRE]<br/>Administrador/a de Fincas<br/>📞 [TELÉFONO] | [EMAIL]</p>",
        "type": "html"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "__IMTCONN__": {
            "label": "⚠️ CONECTAR: misma cuenta Gmail de la comunidad"
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "scheduling": {
        "type": "INDEFINITELY",
        "interval": 900
      }
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}